.loginImageBackground {
  background-image: url("../../images/loginCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.registerImageBackground {
  background-image: url("../../images/registerCover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}